
pillow~=10.3.0
torchvision~=0.17.2
matplotlib~=3.5.1
seaborn~=0.12.2
lightning~=2.1.2
numpy~=1.26.4
yaml~=0.2.5
pyyaml~=5.4.1
munch~=4.0.0
torchmetrics~=1.2.1
torch~=2.2.2
codecarbon~=2.3.5
pybboxes~=0.1.6
albumentations~=1.4.4